# Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# 智谱 AI
GLM_API_KEY=

# 腾讯云
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=


# SiliconFlow
SILICON_API_KEY=

# Logging
APP_ENV=dev          # dev | prod
LOG_LEVEL=DEBUG      # DEBUG | INFO | WARNING
